<%- include('head', { title: 'Main' }) -%>

<h1>Main</h1>

<form method="get" action="/register">
  <button type="submit">Register</button>
</form>

<form method="get", action="/login">
  <button type="submit">Login</button>
</form>

<%- include('foot') -%>