@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #04395E;
}

.blur-background {
    filter: blur(5px);
  }


.footer {
    background-color: #FF1F66;
    color: white;
    margin-top: 5%;
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    @media only screen and (min-width: 768px) {
        height: 15vh;
    }
}

.image{

    height: 50%;
    width: 50%;
}


.navbar nav {
    background-color: #FFF;
    box-shadow: 0px 1px 14px 0px #021B2C;    
    color: #04395E;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.navbar.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar nav a{
    color: inherit;
}

.navbar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem
}

.navbar nav li button {
    font-family: 'Inter', sans-serif;
    color: #04395E;
    background-color: transparent;
    padding: 3% 6%; /* Adjust the padding as needed */
    border: transparent;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 1.5rem;
    white-space: nowrap
}

.navbar nav li button:hover {
    background-color: #032d44;
    color: #FFF; 
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}


.popup-content {  
    background-color: #04395E;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 25rem;
    max-height: 26rem;
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-overlay {  
    background: rgba(0, 0, 0, 0.1); /*Modify the background light on popup */
}

.popup-content h1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.popup-content form input {
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    background-color: #04395E;
    margin: 0.8rem 0;
    width: 150%;
}

.popup-content button{
    background-color: #FFFFFF;
    color: #04395E;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 50%;
    margin: 0.5rem 0;
    font-size: large;
    font-weight: bold;
}
  
.popup-content button:hover {
    background-color: #032d44; /* Slightly darker color */
    color: #FFFFFF;
}

.popup-message {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 10px;
}
  
.popup-label {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.popup-input:focus::placeholder {
    color: transparent;
}




.create-popup-content {
    background-color: #04395E;
    border-radius: 29px;
    box-shadow: 2px 4px 8px 0px #000000B0;
    max-width: 52rem;
    max-height: 56rem;
    width: 85%;
    height: 80%;
    min-height: 48rem;
    /* min-width: 46rem; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-popup-content h1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
    align-self: center;
}

.create-popup-content form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 1.5rem;
}

.create-popup-content form div {
    display: flex;
    justify-content: flex-start;
}

.create-popup-content form div label {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.create-popup-content form div label input {
    background-color: #7f9aad;
    max-width: 45rem;
    width: 275%;
    &::placeholder {
      color: white;
    }
    border-top: 5px solid #ff1f66;
    border-radius: 0%;
}

.create-popup-content form div label label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap
}

.create-popup-content form div label label p {
    font-size: 1rem;
    color: #FFF;
    padding-left: 0.5rem;
}

.create-popup-content form div label label input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border-color: white;
    height: 10px;
    width: 10px;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background-color: #04395E;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;
}

.create-popup-content form div label label input[type='radio']:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

.create-popup-content form p {
    max-height: 20rem;
    overflow-y: scroll;
    border: transparent;
    max-width: 45rem;
    width: 275%;
}

.create-popup-content form p div input{
    background-color: #7f9aad;
    width: 275%;
    &::placeholder {
      color: white;
    }
    border: 0px;
    border-top: 5px solid #ff1f66;
    border-radius: 0%;
    height: 2.5rem;
}

.create-popup-content form p div input:focus {
    outline: none;
    border: none;
    border-top: 5px solid #ff1f66;
}

.create-popup-content form p div button {
    background-color: #7f9aad;
    border-top: 5px solid #ff1f66;
    border-radius: 0%;
    height: 2.5rem;
    align-self: center;
    width: 10%;
}

.create-popup-content form p button {
    background-color: #7f9aad;
    border-radius: 0%;
    height: 2.5rem;
    color: white;
    width: 25%;
    height: 2.5rem;
    white-space: nowrap;
    align-content: center;
}

.create-popup-content form h3 {
    color: white;
    font-family: 'Inter', sans-serif;
}



.poll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.poll div {

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    min-width: 90%;
    max-width: 90%;

    height: 70vh;
    /* max-height: 30vh; */
    /* min-height: 200px; */

    @media only screen and (min-width: 768px) {
        margin-left: 6%;
        margin-right: 1%;
        margin-top: 1.5%;
        min-width: 40%;
        max-width: 40%;
        height: 60vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.poll div.poll-title {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    width: 100%;
    min-width: none;
    max-width: none;
    
    min-height: 5%;
    height: auto;
    max-height: 15%;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.poll div h3 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    margin-top: 2%;
}

.poll div.poll-input {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    
    max-width: none;
    min-height: none;
    height: 55%;

    overflow:auto;
    
    @media only screen and (min-width: 768px) {
        height: 65%;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.poll div.poll-input p {
    display: flex;
    align-items: center;
}

.poll div.poll-input p label {
    font-family: 'Inter', sans-serif;
    /* font-size: 14px; */
    font-size: 95%;
    color: black;
}

.poll div.poll-input p label[type='radio'] {
    align-self:last baseline;
}

.poll div.poll-input p input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    padding: 0.5rem;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;

    cursor: pointer;

    background-color: white;
    border: 2px solid #04395E;
}

.poll div.poll-input p input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;

    cursor: pointer;

    background-color: white;
    border: 2px solid #04395E;
}

.poll div.poll-error {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    /* background-color: black; */

    margin-top: 2%;

    max-width: none;
    min-height: none;
    height: 5%;

    
    @media only screen and (min-width: 768px) {
        height: 8%;
    }
}