/* @media only screen and (min-width: 768px) { */
    /* display: block;
    margin: 0 auto; */
    /* white-space: nowrap */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
    background-image: url('./images/background.jpeg');
    background-size: 100% 100%;
}

.blur-background {
    filter: blur(5px);
}


.navbar {
    min-height: 5%;
}

.navbar nav {
    background-color: #FFF;
    box-shadow: 0px 1px 14px 0px #021B2C;    
    color: #04395E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar nav img {
    max-width: 100%;
    padding-left: 2%;
}

.navbar nav div.hamburger-menu {
    max-width: 10%;
    max-height: 100%;
}

.navbar nav div.hamburger-menu button {
    background-color: white;
    border: 0;
    margin: 0;
    box-shadow: 0;
    padding: 0;
    cursor: pointer;

    display: block;
    margin: 0 auto;
}

.navbar nav div.hamburger-menu button img {
    display: block;
    margin: 0 auto;
}

.navbar nav div.hamburger-menu div {
    height: 100px;
    width: 100px;
    background-color: black;
}

.navbar nav a{
    color: inherit;
}

.navbar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 2%;
    
}

.navbar nav li {
    display: block;
    margin: 0 auto;
}

.navbar nav li button {
    font-family: 'Inter', sans-serif;
    color: #04395E;
    background-color: transparent;
    padding: 3% 6%;
    border: transparent;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 2.3rem;
    height: 100%;
    white-space: nowrap
}

.navbar nav li button:hover {
    background-color: #032d44;
    color: #FFF; 
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.menu-space {
    margin-left: 66%;
    width: 35%;
    height: 10vh;

    display: block;
}

.menu-space div {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px;
    height: 100%;
}

.menu-space div li {
    list-style-type: none;
    box-shadow: none;
    background-color: white;
    width: 100%;
    height: 50%;
}

.menu-space div li button {
    box-shadow: none;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 12px, 13px, 17px, 60px;
    padding-right: 10%;
    border-radius: 1px;
    cursor: pointer;
    border: 0;

    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: right;

    color: #04395E;


}

.menu-space div li button:hover {
    background-color: #032d44;
    color: #FFFFFF;
}



.extra {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.extra div {
    width: 20%;
    height: 20%;
    flex: 1;
}

.extra div p {
    padding-left: 13%;
    padding-right: 5%;

    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;
    
    color: #FFFFFF;
    
    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 36px;
        font-weight: 600;
        line-height: 47px;
        letter-spacing: -0.005em;
        text-align: left;
    }
}

.extra div img {
    max-width: 100%;
    width: 800px;
    display: block;
    margin: 0 auto;
}


.popup-content {  
    background-color: #04395E;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 25rem;
    max-height: 26rem;
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-overlay {  
    background: rgba(0, 0, 0, 0.1); /*Modify the background light on popup */
}

.popup-content h1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
}

.popup-content form input {
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    background-color: #04395E;
    margin: 0.8rem 0;
    width: 100%;
}

.popup-content form div {
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.popup-content button{
    background-color: #FFFFFF;
    color: #04395E;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 70%;
    margin: 0.5rem 0;
    font-size: large;
    font-weight: bold;
    white-space: nowrap
}
  
.popup-content button:hover {
    background-color: #032d44;
    color: #FFFFFF;
}

.popup-message {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0;
    font-size: 10px;
}
  
.popup-label {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 5px;
}

.popup-input:focus::placeholder {
    color: transparent;
}




.create-popup-content {
    background-color: #04395E;
    border-radius: 29px;
    box-shadow: 2px 4px 8px 0px #000000B0;
    max-width: 52rem;
    width: 85%;


    min-height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    overflow: auto;

    @media only screen and (min-width: 768px) {
        min-height: 90%;
    }
}

.create-popup-content h1 {
    color: #FFFFFF;
    align-self: center;

    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.create-popup-content form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    /* margin-left: 1.5rem; */
}

.create-popup-content form div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.create-popup-content form div label {
    color: #FFFFFF;
    width: 100%;

    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;


    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }

}

.create-popup-content form div label input.create-input-title {
    background-color: #7f9aad;
    width: 100%;
    border-radius: 3px;
    font-family: Inter;
    font-size: 10px;

    border: 0;
    border-top: 2px solid #ff1f66;
    height: 31px;

    @media only screen and (min-width: 768px) {
        height: 2.5rem;
        border-top: 5px solid #ff1f66;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }
    &::placeholder {
      color: white;
    }
}

.create-popup-content form div label input.create-input-title:focus {
    outline: 0;
}

.create-popup-content form div label label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    margin-bottom: 1%;
}

.create-popup-content form div label label p {
    color: #FFF;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.005em;
    text-align: left;

    margin-bottom: 0;

    margin-left: 2%;
    /* align-self: center; */

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 26px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.create-popup-content form div label label input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border-color: white;
    height: 10px;
    width: 10px;

    margin-bottom: 0;
    margin-top: 0;

    padding: .1rem;
    

    outline: none;
    cursor: pointer;
    background-color: #04395E;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;

    @media only screen and (min-width: 768px) {
        padding: 0.5rem;
    }
}

.create-popup-content form div label label input[type='radio']:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

.create-popup-content form p {
    max-height: 21vh;
    overflow-y: scroll;
    border: transparent;
    width: 100%;
    margin-top: 0;
    @media only screen and (min-width: 768px) {
        max-height: 20rem;
    }
}


.create-popup-content h4 {
    color: white;
    margin-bottom: 0;

    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;

    

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
}


.create-popup-content form p div input{
    border: 0;
    background-color: #7f9aad;
    width: 275%;
    border: 0px;
    font-family: Inter;
    font-size: 10px;

    margin-top: 0;
    margin-bottom: 3%;

    border-top: 2px solid #ff1f66;
    height: 31px;
    
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    

    @media only screen and (min-width: 768px) {
        height: 2.5rem;
        border-top: 5px solid #ff1f66;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &::placeholder {
      color: white;
    }
}

.create-popup-content form p div input:focus {
    outline: 0;
}


.create-popup-content form p div button {
    background-color: #7f9aad;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    
    align-self: center;
    width: 10%;

    margin-top: 0;
    margin-bottom: 3%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top: 2px solid #ff1f66;
    height: 31px;
    font-size: 15px;

    display: flex;
    align-items: center;

    @media only screen and (min-width: 768px) {
        border-top: 5px solid #ff1f66;
        height: 2.5rem;
        font-size: 20px;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.create-popup-content form p button {
    background-color: #7f9aad;
    color: white;
    width: fit-content;
    white-space: nowrap;
    align-content: center;
    
    height: fit-content;
    border-radius: 2px;

    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;

    @media only screen and (min-width: 768px) {
        border-radius: 5px;
        

        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;

    }
}

.create-popup-content form h3 {
    color: white;
    margin: 0;

    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.005em;
    text-align: left;

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.create-popup-content button{
    height: fit-content;
    width: fit-content;

    border-radius: 3px;

    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;


    @media only screen and (min-width: 768px) {
        border-radius: 5px;
        

        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
    }
}



.poll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 55%;
}

.poll div {

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: 8%;
    margin-top: 5%;
    min-width: 85%;
    max-width: 85%;

    height: 30vh;

    @media only screen and (min-width: 768px) {
        margin-left: 6%;
        margin-right: 1%;
        margin-top: 1.5%;
        min-width: 40%;
        max-width: 40%;
        height: 500px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.poll div.poll-title {
    font-family: Inter;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    width: 100%;
    min-width: none;
    max-width: none;
    
    min-height: 5%;
    height: auto;
    max-height: 17%;
    
    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        max-height: 19%;
    }
}

.poll div h3 {
    font-family: Inter;
    font-size: 7px;
    font-weight: 300;
    line-height: 8px;
    letter-spacing: 0em;
    text-align: left;

    color: black;
    margin: 0;
    margin-top: 2%;

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.poll div.poll-input {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;

    margin-bottom: 2%;
    
    max-width: none;
    min-height: none;
    max-height: 56%;

    overflow:auto;
    
    @media only screen and (min-width: 768px) {
        max-height: 45%;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.poll div.poll-input p {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.poll div.poll-input p label {
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;

    color: black;

    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;

    }
}

.poll div.poll-input p label[type='radio']{
    align-self:last baseline;
}

.poll div.poll-input p input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    padding: 0.25rem;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;

    cursor: pointer;

    background-color: white;
    border: 1px solid #04395E;

    @media only screen and (min-width: 768px) {
        padding: 0.5rem;
        border: 3px solid #04395E;
    }
}

.poll div.poll-input p input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.25rem;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    align-self: center;

    cursor: pointer;

    background-color: white;
    border: 1px solid #04395E;

    @media only screen and (min-width: 768px) {
        padding: 0.5rem;
        border: 3px solid #04395E;
    }
}

.poll div.poll-error {
    font-family: Inter;
    font-size: 8px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;


    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    /* background-color: black; */

    margin-top: 2%;

    max-width: none;
    min-height: none;
    height: 5%;

    
    @media only screen and (min-width: 768px) {
        height: 8%;
        font-family: Inter;
        font-size: 26px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.poll button {
    height: fit-content;
    width: fit-content;
    background: #04395E;
    cursor: pointer;
    color: white;

    border: 0;

    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 3%;
    
    padding: 2%;
    
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    
    @media only screen and (min-width: 768px) {
        font-family: Inter;
        font-size: 25px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        align-self: flex-start;

    }
}

.poll button:hover {
    background-color: #025f8e;
    color: #fff;
}


.footer {
    background-color: #FF1F66;
    color: white;
    padding:none;
    margin-top: 5%;
    width: 100%;
    min-height: 15%;

    display: flex;
    align-items: center;
}

.footer div{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.footer div a{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: 768px) {
        height: 60%;
    }
}

.footer div a img{
    margin-top: 8%;
    margin-bottom: 8%;
    width: 20%;

    @media only screen and (min-width: 768px) {
        width: 60%;
    }
}